//CSS reset
html {
  font-size: 16px;
}
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

//link style
a {
  text-decoration: none;
  color: blue;
  &:link {
    color: red;
  }
  /* mouse over link */
  &:hover {
    color: darken($jumbo-bkgrd-color, 50%);
  }
  &:focus {
    color: darken($jumbo-bkgrd-color, 50%);
    border-bottom: 4px solid darken($jumbo-bkgrd-color, 50%);
    padding: 0.2em;
    transition: 0.3s;
  }
  /* selected link */
  &:active {
    color: blue;
  }
}
