@import "@fortawesome/fontawesome-free/css/all.css";
@import "globals/mixins";
@import "globals/variables";
@import "globals/basic-setting";
@import "globals/nav";

body {
  background-color: $body-bkgrd-color;
  p {
    font-size: $base-font-size * 0.8;
    line-height: $base-line-height;
  }
}

//classes
.pull-left {
  margin-right: auto;
  color: darken($jumbo-bkgrd-color, 50%);
}
.active {
  border-bottom: 5px solid darken($jumbo-bkgrd-color, 50%);
}

.generic-padding {
  padding: 1em 0.5em;
  text-align: center;
}
.myjumbo {
  background-color: $jumbo-bkgrd-color;
  padding: 0 4em;
  height: 100dvh;
}
@mixin div-loop {
  // border: 1px solid darken($jumbo-bkgrd-color, 50%);
  width: $div-loop-width;
  height: 2em;
}
// $colors: $icons: ("eye": "\f112", "start": "\f12e", "stop": "\f12f");
$colors: (
  "green": green,
  "brown": brown,
  "blue": blue,
  "orange": orange,
  "red": red,
);
@each $key, $val in $colors {
  .div-loop-#{$key} {
    @include div-loop;
    background-color: $val;
  }
  .div-loop-#{$key}:hover {
    border: 3px solid darken($val, 50%);
    background-color: lighten($val, 20%);
  }
}

.banner {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2em;
  align-content: center;
  align-items: center;
  margin: 8rem 10rem;
  p {
    line-height: $base-line-height;
    font-size: $base-font-size;
  }
}
.shadowed {
  box-shadow: 10px 10px 5px 0px darken($body-bkgrd-color, 30%);
  transition: $base-transition;
}
.card-wrap {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em;
  .card {
    border: 1px solid darken($tile-bkgrd-color, 20%);
    @include card-basis;
  }
  .card:hover {
    @extend .shadowed;
  }
}
.bottom-marginL {
  margin-bottom: 0.2em;
}
.bottom-marginXL {
  margin-bottom: 2em;
}
.big-wrap {
  padding: 0 5em 5em;
}
.tile-wrap {
  display: grid;
  grid-template-rows: auto;
  gap: 1em;
}

.tile {
  background-color: $tile-bkgrd-color;
  padding: 1em;
  border-radius: $base-border-radius;
  &:hover {
    @extend .shadowed;
  }
  h1 + p {
    font-size: $base-font-size;
    margin-bottom: 1em;
  }
  img {
    display: block;
    // object-fit: scale-down;
    max-width: 100%;
  }
}
.themed {
  background-color: coral;
}

.flexy {
  display: flex;
  gap: 1em;
}
.footer {
  padding-bottom: 3em;
  background-color: $tile-bkgrd-color;
}

.column-wrap {
  background-color: $tile-bkgrd-color;
  @include column-wrap;
  ul {
    line-height: $base-line-height;
    font-size: $base-font-size * 0.8;
    @include ul-basis;
  }
}
.dark-span {
  background-color: black;
  margin-right: -5px;
  color: white;
  border-radius: $base-border-radius 0 0 $base-border-radius;
}
.blue-span {
  background-color: rgb(46, 75, 145);
  color: white;
  border-radius: 0 $base-border-radius $base-border-radius 0;
}
